/*#1B262C
#0F4C75
#3282B8
#BBE1FA*/
li{
    color:#BBE1FA;
    font-size:2em;
}
h1{
    color:#BBE1FA
}
body{
    background-color: #1B262C;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #0F4C75;
    text-align: center;
    color:#BBE1FA;
}